html{
  /*background: url(Bilder/bg3.jpg) no-repeat center center fixed;
  background-size: cover; */
  background-color: #424242;
}
body {
  /*background-color: 0; */
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: white;
  text-shadow: 2px 2px 2px black;
  font: 35px arial, sans-serif;
}
h2 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font: 20px arial, sans-serif;
}
h3 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font: 15px arial, sans-serif;
}

.topbar{
  background-color: #424242;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -1%;
  height: 60px;
}

.topnavigation {
  font: 15px arial, sans-serif;
  background-color: #333;
  overflow: hidden;
  text-align: center;
  display: block;
  margin-left: -1%;
  margin-right: -1%;
}

.topnavigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 15px;
}

.topnavigation a:hover {
  background-color: #636363;
  color: black;
}

.topnavigation a.active {
  background-color: #2e3cdb;
  color: white;
}

/*input {
  margin-top: 20px;
  position: absolute;
  margin-left: 55%
}*/

.cartimage{
  margin-left: 92%;
  margin-top: 10px;
}

#bg1{
  border-radius: 5px;
  cursor:pointer;
  transition: 0.3s;
}

#bg1:hover{
  opacity: 0,7;
}
