html{
  background-color: #424242;
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: white;
  text-shadow: 2px 2px 2px black;
  font: 35px arial, sans-serif;
}
h2 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font: 20px arial, sans-serif;
}
h3 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font: 15px arial, sans-serif;
}

h4{
  text-align: left;
  color: white;
  text-shadow: 2px 2px 2px black;
  font: 15px arial, sans-serif;
}

h5{
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font: 15px arial, sans-serif;
}
h6{
  width: 100%;
  height: 10%;
  text-align: center;
}


.produktBild{
  text-align: center;
}


img[name=extreme], img[name=sport], img[name=gaming]{

  height: 350px;
  width: 350px;
}

a{
  color: white;
}


input[name=fornamn], input[name=efternamn], input[name=email], input[name=losenord], input[name=adress], input[name=telefonnummer], input[name=login_email], input[name=login_password]{
  width: 80%;
  padding: 10px;
  margin: 5px 0 22px 0;
  box-sizing: border-box;
}
input[name=regbox], input[name=loggain], input[name=skickainfo] {
  width: 80%;
  padding: 10px;
  margin: 5px 0 22px 0;
  box-sizing: border-box;
}
input[name=anvandarKommentar] {
  width: 95%;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
}
input[name=skicka_kommentar], input[name='adderaVara'], input[name='skickaBestallning'], input[name='tomKundvagn'], input[name='tabort_kommentar'] {
  width: 97%;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
}
input[name='laggBestallning']{
  width: 97%;
  padding: 10px;
  margin: 5px;
  margin-left: 10px;
  box-sizing: border-box;
}
textarea {
  border: 2px solid #888;
  width: 97%;
  margin-left: 5px;
  position: relative;
  rows: 6;
  cols: 40;
  box-sizing: border-box;
}

.kommentarsForm {
  width: 100%;
}
/*
@media screen and (min-width:960px){
  .kommentarsForm {width: 50%; text-align: left;}

}
*/
#slideshow {
    position: relative;
    margin: auto;
    width: 540px;
    height: 540px;
    padding: 0px;
    box-shadow: 0 0 0px rgba(0,0,0,1);
}

#slideshow > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
